<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ect.domain.mapper.DealMapper">

    <insert id="save" keyColumn="id" parameterType="com.ect.domain.DealDomain">
        INSERT into deal
        (user_id,
        product_id,
        buy_num,
        create_time,
        update_time
        )
        VALUES (
        #{userId},
        #{productId},
        #{buyNum},
        now(),
        now()
        )
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>
</mapper>